.x-block-button {
  background-color: transparent;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.x-block-button svg {
  width: 100%;
  height: 100%;
  stroke: rgba(224, 36, 94, 1);
}

.x-block-button:hover {
  background-color: rgba(224, 36, 94, 0.2);
}

.x-notification {
  position: fixed;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 1rem;
  padding: 0.5rem;
  background-color: rgba(224, 36, 94, 1);
  color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  z-index: 9999;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  vertical-align: middle;
}

.x-button-container {
  display: flex;
  gap: 4px;
  align-items: center;
  height: 24px;
  margin-left: 10px;
}

.x-button-container.multiple-buttons {
  right: -54px;
}

.x-mute-button {
  background-color: transparent;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.x-mute-button svg {
  width: 100%;
  height: 100%;
  stroke: rgb(255, 149, 0);
  fill: none;
}

.x-mute-button:hover {
  background-color: rgba(255, 149, 0, 0.2);
}

/* Hide buttons by default */
.x-block-button,
.x-mute-button {
  display: none;
}

/* Show buttons when they have the 'show' class */
.x-block-button.show,
.x-mute-button.show {
  display: flex;
}
